VITE_API_BASE_URL=https://req-codemappings.onrender.com
VITE_REQ_CODEMAPPING_API_URL=https://req-codemappings.onrender.com
VITE_JIRA_API_URL=https://jira-ticketsyncing.onrender.com
VITE_ESTIMATE_API_URL=http://127.0.0.1:8001
